.spell-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto; 
    max-width: 600px; 
  }
  
  .spell-search h3 {
    margin-bottom: 1rem;
  }
  
  .search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  

  .spell-list-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .spell-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1200px;
  

}
